/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.question{
  background-color: #dafafa;
  height: 75px;
  width: 318px;
  border: 3px solid #fafafa;
  margin: 0 0 5px 1px;
  padding-top: 10px;
  border-radius:5px;
  font-color: #323858;
  font-size:20px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  word-spacing: -1px;

}
#myCanvas{
  background-color: #b9efc6;
  height: 400px;
  width: 320px;
  
  border: 3px dashed #fafafa;
  border-radius:5px;
}

body{
background-color:#7fc7a0;
}